<%= render('layouts/errors', :object => @sighting) %>

<%= form_for [@species_instance, @sighting] do |f| %>
  <%= f.label :date %>
  <%= f.date_select :date %>
  <%= f.label :latitude %>
  <%= f.text_field :latitude %>
  <%= f.label :longitude %>
  <%= f.text_field :longitude %>
  <%= f.collection_select(:region_id, Region.all, :id, :name) %>
  <p><%= f.submit %></p>
<% end %>
