<h1><%= @species_instance.name %></h1>

<% if @species_instance.sightings.any? %>
  <h4>Here are the sightings for this species:</h4>

  <ul>
    <% @species_instance.sightings.each do |sighting| %>
    <% @region = Region.find(sighting.region_id) %>
      <li>
        Date: <%= sighting.date %>, Region: <%= link_to @region.name, region_path(@region) %> | <%= link_to "Edit", edit_species_sighting_path(@species_instance, sighting) %> | <%= link_to "Delete", species_sighting_path(@species_instance, sighting), :data => {:confirm => "You sure?", :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no sightings yet!</p>
<% end %>

<p><%= link_to "Add a sighting", new_species_sighting_path(@species_instance) %></p>
<p><%= link_to "Edit Species", edit_species_path(@species_instance) %></p>
<p><%= link_to "Delete Species", species_path(@species_instance), :data => {:confirm => "You sure?", :method => "delete"} %></p>
